<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Galeria</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <div class="container-xl">
        <!-- HEADER -->
        <header class="row">
            <div class="col-lg-12">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <div class="container-fluid">
                        <img class="header__logo" src="../assets/img/Productos/betta/betta-1.png" alt="logo">
                        <h1 class="header__titulo">Acuario Don Diego</h1>
                        <button class="navbar-btn navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="header__menu collapse navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link" href="../index.html">Inicio</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="producto.html">Producto</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="galeria.html">Galeria</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Nosotros</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Contacto</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </header>
        <!-- MAIN -->
        <main class="main row">
            <div class="col-lg-8 col-12">
                <div class="card-group row">
                    <div class="col-lg-6 col-12">
                        <div class="card h-50 m-1 rounded">
                            <img src="../assets/img/Acuarios/acuario-2.jpg" class="img__galeria card-img-top" alt="Acuario">
                            <div class="card-body">
                                <h5 class="card-title">Acuario de 70 Litros</h5>
                                <p class="card-text"><small class="text-muted">Actualizado hace 2 meses</small></p>
                                <a href="#" class="btn btn-success">MAS</a>
                            </div>
                            </div>
                        <div class="card h-50 m-1 rounded">
                            <img src="../assets/img/Acuarios/acuario-4.jpg" class="img__galeria card-img-top" alt="Acuario">
                            <div class="card-body">
                                <h5 class="card-title">Acuario de 120 Litros</h5>
                                <p class="card-text"><small class="text-muted">Actualizado hace 25 dias</small></p>
                                <a href="#" class="btn btn-success">MAS</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-12">
                        <div class="card h-50 m-1 rounded">
                            <img src="../assets/img/Acuarios/Acuario-6.jpg" class="img__galeria card-img-top" alt="Acuario">
                            <div class="card-body">
                                <h5 class="card-title">Acuario de 180 Litros</h5>
                                <p class="card-text"><small class="text-muted">Actualizado hace 25 dias</small></p>
                                <a href="#" class="btn btn-success">MAS</a>
                            </div>
                        </div>
                        <div class="card h-50 m-1 rounded">
                            <img src="../assets/img/Acuarios/acuario.jpg" class="img__galeria card-img-top" alt="Acuario">
                            <div class="card-body">
                                <h5 class="card-title">Acuario de 100 Litros</h5>
                                <p class="card-text"><small class="text-muted">Actualizado hace 25 dias</small></p>
                                <a href="#" class="btn btn-success">MAS</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-12">
                <aside class="aside">
                    <div>
                        <h3 class="aside__publicidad__titulo">Publicidad</h3>
                    </div>
                    <article class="aside__publicidad__img">
                        <img class="img-fluid" src="../assets/img/Publicidad/publicidad.png" alt="publicidad">
                    </article>
                    <article class="aside__publicidad__img">
                        <img class="img-fluid" src="../assets/img/Publicidad/publicidad.png" alt="publicidad">
                    </article>
                </aside>
            </div>
        </main>
        <!-- FOOTER -->
        <footer class="footer row">
            <ul class="nav justify-content-center align-items-center">
                <li class="footer__texto nav-item">
                    <p class="nav-link">&copy; 2022 Hernán Franco</p>
                </li>
                <li class="nav-item">
                    <a href="#" target="__blank" class="footer__logo nav-link">
                        <img class="footer__logos__img" src="../assets/img/logos/whatsapp.png" alt="whatsapp">
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" target="__blank" class="footer__logo nav-link">
                        <img class="footer__logos__img" src="../assets/img/logos/instagram.png" alt="instagram">
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" target="__blank" class="footer__logo nav-link">
                        <img class="footer__logos__img" src="../assets/img/logos/facebook.png" alt="facebook">
                    </a>
                </li>
            </ul>
        </footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>